@model RegisterViewModel

@{
    Layout = "_Layout";
}

<div class="card text-center mx-auto" style="width: 40em">
    <div class="card-body">
        <form asp-action="CreateUser" asp-controller="CrudAccount">
            <div class="p-1">
                <label asp-for="Name"></label>
                <input asp-for="Name" value="" />
            </div>
            <div class="p-1">
                <label asp-for="Email"></label>
                <input asp-for="Email" value="" />
            </div>
            <div class="p-1">
                <label asp-for="Password"></label>
                <input asp-for="Password" value="" />
            </div>
            <div class="p-1">
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" value="" />
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>