@model User

@{
    Layout = "_Layout";
    ViewBag.Title = "Setting";
}
<div class="card my-4">
    <div class="card-body">
        <div class="text-center">
            <div class="p-1">
                <form asp-action="RemovetUser" asp-controller="CrudAccount">
                    <input hidden="hidden" name="userName" value="@Context.User.Identity.Name">
                    <button class="btn btn-danger p-1" type="submit">Remove account</button>
                </form>
            </div>
            <div class="p-1">
                <a class="btn btn-warning p-1" asp-action="EditUser" asp-controller="Account" asp-route-userId="@Model.Id">Edit profile</a>
            </div>
            <div class="p-1">
                <a class="btn btn-secondary p-1" asp-action="Logout" asp-controller="Account">Log out</a>
            </div>
        </div>
    </div>
</div>

