<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="content">
        <div class="item-block-horizontal">
            <div class="container-fluid">
                <div class="row mx-3 justify-content-md-start p-2">
                    <div class="col-1 p-1">
                        <a class="btn btn-outline-light btn-sm" asp-action="MyProfile" asp-controller="Account" asp-route-userName="@Context.User.Identity.Name">My Profile</a>
                    </div>
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="Posts" asp-controller="Admin">Posts</a>
                    </div>
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="Chats" asp-controller="Admin">Chats</a>
                    </div>
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="Users" asp-controller="Admin">Users</a>
                    </div>
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="Roles" asp-controller="Admin">Roles</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-include" style="width: 800px;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
