<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bundle.min.css"/>
</head>
<body>
    <div class="content">
        <div class="item-block-horizontal">
        </div>
        <div class="content-include">
            @RenderBody()
        </div>
    </div>
</body>
</html>
