@model ForgotPasswordViewModel

@{
    Layout = "_Layout";
}

<div>
    <h3>Please enter a email for reseting the password</h3>
    <form asp-action="ForgotPassword" asp-controller="ActionPassword"> 
        <div >
            <label asp-for="Email"></label>
            <input asp-for="Email" value="@Model.Email"/>
        </div>
        <button type="submit">Next</button>
    </form>
</div>
