@model ResetPasswordViewModel

@{
    Layout = "_Layout";
}

<div asp-validation-summary="All"></div>
<div>
    <form method="post"  asp-action="ResetPassword" asp-controller="ActionPassword"> 
        <div>
            <label asp-for="Email"></label>
            <input hidden="hidden" asp-for="Email" value="@Model.Email"/>
            <h3>@Model.Email</h3>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" value="@Model.Password"/>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" value="@Model.ConfirmPassword"/>
        </div>
        <button type="submit">Reset</button>
    </form>
</div>