@model Post

@{
    Layout = "_Layout";
    ViewBag.Title = "Create post";
}

<div class="mx-auto m-3 text-center bg-light border" style="width: 40em; height: 30em">
    <div>
        <h3>Create post</h3>
    </div>
    <div class="m-3">
        <form method="post" asp-action="CreatePost" asp-controller="CrudPostWall">
            <div class="m-2">
                <label asp-for="Title"></label>
                <input asp-for="Title" value="@Model.Title" />
            </div>
            <div class="m-2">
                <label asp-for="Discription"></label>
                <textarea style="resize: none; width: 500px; height: 300px" asp-for="Discription" value="@Model.Discription"></textarea>
            </div>
            <div class="m-4 align-content-end">
                <input hidden="hidden" name="createrName" value="@Context.User.Identity.Name" />
                <button class="btn btn-secondary p-1" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
