@model IEnumerable<PrivateChat>

@{
    Layout = "_Layout";
    string userName = Context.User.Identity.Name;
    ViewBag.Title = "Massages";
}

@foreach (PrivateChat privateChat in Model)
{
    <div class="card mx-auto m-2" style="width: 70em">
        <div class="card-body mx-auto">
            <div class="d-flex ">
                @if (privateChat.Members.FirstOrDefault(user => user.UserName != userName) != null ||
               privateChat.Members.Count > 1)
                {
                    <div class="p-1">
                        <h4>User: @privateChat.Members.FirstOrDefault(user => user.UserName != userName)</h4>
                    </div>
                }
                else
                {
                    <h4>User: (Delete Account) </h4>
                }
                <div class="p-1">
                    <form method="get" asp-action="PrivateChatingRoom" asp-controller="PrivateChat">
                        <input hidden="hidden" name="UserName" value="@userName">
                        <input hidden="hidden" name="FriendName"
                           value="@privateChat.Members.FirstOrDefault(privateChatContext => privateChatContext.UserName != userName)">
                        <button type="submit">Send massage</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
